/* .pageL{
    height: 100vh;
    width: 100%;
    background-color: rgb(26, 26, 29);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont{
    width: 50%;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
} */